<form action="calculate" method="post" enctype="multipart/form-data">
   <p>Please choose a CSV file to upload:</p>
   <input type="file" name="file" id="file">
   <p><input type="submit" value="Submit"></p>
</form>